<body>
  <div>
  <h1> What is your bookmark you would like to enter dear boy (or girl or Haydon)</h1>
    <form action="/bookmarks/create" method='post'>
      <input type="text" name="url" placeholder="URL">
      <input type="text" name="title" placeholder="Title">
      <input type='submit' value='Submit'>
    </form>
  </div>
</body>