<style>
body {
  background-image: url(http://www.gingercreek.org/wp-content/uploads/2018/07/142443-widescreen-blue-ombre-background-1920x1080-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<head>
</head>

<body>
  <div>
    Bookmarks Page
    <p> All of you lovely bookmarks are listed here: </p>
    <ul>
    <% @bookmarks.each do |bookmark|  %>
    <li><%= bookmark %></li>
    <li>
      <a href="<%=bookmark.url %>">
      <%= bookmark.title %>
      </a>
    </li>
  <% end %> 
  </ul>
  </div>
  <div>
    <form action="/bookmarks/new">
      <input type='submit' value='Add Bookmark'>
    </form>
  </div>
</body>